/*FIRST SCREEN*/
#first_screen>button{
  transition: all 0.2s;
}
#first_screen>button:hover{
  border: solid rgba(0, 0, 0, 0.6) 1px;
  color: rgba(0, 0, 0, 1);
  transform: scaleY(0.9);
  background-color: rgba(217, 217, 217, 0.6);
}

/*SECOND SCREEN*/
.second_screen_item_BG{
  transition: all 0.5s;
}
.second_screen_item_BG:hover {
  transform: scale(1.1);
}
.second_screen_item:hover .second_screen_item_BG {
  transform: scale(1.1);
}
/*THIRD SCREEN*/



/*FOURTH SCREEN*/
.fourth_screen_container>img{
  transition: all 0.2s;
}
.fourth_screen_container>img:hover{
  transform: scale(1.08);
}
/*FIFTH SCREEN*/
