@font-face {font-family: "adineue Light";
    src: url("../PRO_light.ttf");
}
@font-face {font-family: "adineue Black";
    src: url("../PRO_Black.otf");
}
*{
  margin: 0;
  outline: none;
}
.middle{
  width: 1100px;
  margin: 0 auto;
}
body{
  min-width: 1100px;
}
a, button{
  text-decoration: none;
  cursor: pointer;
}

/*scroll to top button*/

#scroll_top{
  color: white;
  font-family: "adineue Light";
  font-size: 40px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}


/*HEADER*/

header{
  min-width: 1100px;
  height: 65px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  font-size: 15px;
}
header>.middle>ul{
  list-style: none;
  font-family: "adineue Light";
  text-transform: uppercase;
  height: 65px;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header>.middle>ul>li>a{
  color: white;
}
.logo{
  width: 200px;
}

/*FOOTER*/

footer{
  font-family: "adineue Light";
  height: 100px;
  background-color: #dfdfdf;
  background-image: url(../../img/bg/firstscreen_bg.jpg);
  background-position: top;
}
#footer_container{
  display: flex;
  margin: 0 auto;
  height: 100%;
}
#footer_container>img{
  margin-left: 20px;
}
#footer_container>ul{
  list-style: none;
  font-family: "adineue Light";
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  font-size: 15px;
}
#footer_container>ul>li{
  margin: 5px 20px;
}
#footer_container>ul>li>a{
  color: white;
}
#footer_contact{
  margin-left: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
#footer_contact>span:first-child{
  margin: 10px 0;
}
#social_media_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px;
  width: 120px;
}
#social_media_container>a>img{
  min-width: 30px;
  max-width: 30px;
  max-height: 30px;
}
