
mark{
  background: none;
  font-family: "adineue Black";
  color: #3b3b3b;
}
p{
  font-family: "adineue Light";
  font-size: 18px;
  line-height: 1.3;
}
*{
  margin: 0;
  outline: none;
}
.middle{
  width: 1100px;
  margin: 0 auto;
}
a, button{
  text-decoration: none;
  cursor: pointer;
}
body{
  min-width: 1100px;
}
h3{
  font-family: "adineue Black";
  font-size: 30px;
  color: #3b3b3b;
  text-align: center;

}
h3::before, h3::after{
  content:"";
  display: block;
  position: relative;
  margin: 0 auto;
  background-color: #3b3b3b;
  width: 300px;
  height: 2px;
}
h3::before{
  top:18px;
  right: 400px;
}
h3::after{
  bottom:20px;
  left: 400px;
}



/*HEADER*/

header{
  min-width: 1100px;
  height: 65px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  font-size: 15px;
}
header>.middle>ul{
  list-style: none;
  font-family: "adineue Light";
  text-transform: uppercase;
  height: 65px;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header>.middle>ul>li>a{
  color: white;
}
.logo{
  width: 200px;
}

/*scroll to top button*/

#scroll_top{
  color: white;
  font-family: "adineue Light";
  font-size: 40px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;

}

/*FIRST SCREEN*/

#first_screen{
  background-image: url(../../img/bg/firstscreen_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
  position: relative;
  top: 300px;
  text-align: center;
  text-transform: uppercase;
  font-size: 100px;
  font-family: "adineue Black";
  color: white;
}
#first_screen>button{
  position: relative;
  top: 320px;
  width: 200px;
  height: 50px;
  border-radius: 14px;
  border: solid #d9d9d9 1px;
  font-family: "adineue Light";
  font-size: 18px;
  color: #d9d9d9;
  background-color: rgba(0, 0, 0, 0.6);
}

/*SECOND SCREEN*/

#second_screen{
  box-sizing: border-box;
  padding: 50px 0;
  height: 370px;
  background-color: #dfdfdf;
}
#secont_screen_container{
  margin: 30px auto 0;
  width: 1100px;
  display: flex;
  justify-content: space-around;
}
.second_screen_item{
  position: relative;
  width: 260px;
  height: 160px;
  border: solid 15px #f3f3f3;
  border-radius: 15px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
}
.second_screen_item>a{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.second_screen_item_text{
  text-transform: uppercase;
  font-family: "adineue Black";
  font-size: 30px;
  color: #f3f3f3;
  z-index: 2;
}
.second_screen_item_BG{
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
}
#second_screen_first_item_BG{
  background-image: url("../../img/block_img/second_block1.jpg");
}
#second_screen_second_item_BG{
  background-image: url("../../img/block_img/second_block2.jpg");
}
#second_screen_third_item_BG{
  background-image: url("../../img/block_img/second_block3.jpg");
}

/*THIRD SCREEN*/

#third_screen{
  box-sizing: border-box;
  padding: 50px 0;
  background-color: #f3f3f3;
}

/*FOURTH SCREEN*/

#fourth_screen{
  box-sizing: border-box;
  padding: 50px 0;
  background-color: #dfdfdf;
}
.fourth_screen_container{
  display: flex;
  width: 1100px;
  margin: 60px auto;
}
.fourth_screen_container:last-child{
  margin: 0px auto;
}
#fourth_screen_first_container{
  justify-content:flex-start;
  text-align: left;

}
#fourth_screen_second_container{
  justify-content:flex-end;
  text-align: right;
}
.fourth_screen_container>img{
  margin: 0 50px;
}
.fourth_screen_text_container{
  width: 370px;
}

/*FIFTH SCREEN*/

#fifth_screen{
  box-sizing: border-box;
  padding: 50px 0;
  background-color: #f3f3f3;
}
#fifth_screen_container{
  display: flex;
  margin: 50px auto 0;
  width: 1100px;
  justify-content: space-around;
}
.fifth_screen_item{
  max-width: 200px;
}
.fifth_screen_item>p{
  margin-top: 15px;
  text-align: center;
}
.fifth_screen_item>div{
  margin: 0 auto;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background-color: #595959;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fifth_screen_item>div>img{
  max-height: 60px;
  max-width: 60px;
}

/*SIXTH SCREEN*/

#sixth_screen{
  box-sizing: border-box;
  padding: 50px 0;
  background-color: #dfdfdf;
}
#sixth_screen>h3{
  margin-bottom: 50px;
}
#ymap{
  width: 1100px;
  margin: 0 auto;
}
/*FOOTER*/
footer{
  font-family: "adineue Light";
  height: 100px;
  background-color: #dfdfdf;
  background-image: url(../../img/bg/firstscreen_bg.jpg);
  background-position: top;
}
#footer_container{
  display: flex;
  margin: 0 auto;
  width: 1100px;
  height: 100%;
}
#footer_container>img{
  margin-left: 20px;
}
#footer_container>ul{
  list-style: none;
  font-family: "adineue Light";
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  font-size: 15px;
}
#footer_container>ul>li{
  margin: 5px 20px;
}
#footer_container>ul>li>a{
  color: white;
}
#footer_contact{
  margin-left: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
#footer_contact>span:first-child{
  margin: 10px 0;
}
#social_media_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px;
  width: 120px;
}
#social_media_container>a>img{
  min-width: 30px;
  max-width: 30px;
  max-height: 30px;
}
