body{
  background-color: #f3f3f3;
  min-height: 100vh;
}
header{
  background-color: rgba(0, 0, 0, 0.8);
}
h1{
  position: relative;
  top: 100px;
  margin-bottom: 100px;
  font-family: "adineue Light";
  font-size: 17px;
  text-align: center;
  color: #3b3b3b;
}
#contact_first_screen{
}
#contact_first_screen_container{
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 50px 0;
}

h3{
  font-family: "adineue Black";
  font-size: 35px;
  color: #3b3b3b;
  margin-bottom: 30px;
}
#contact_info{
  box-sizing: border-box;
  padding: 60px;
  position: relative;
}
.contact_info_block{
  position: relative;
  margin: 18px 0;
}
.contact_info_block>img{
  max-height: 24px;
  max-width: 24px;
  position: absolute;
  top: calc(50% - 12px);
}
.contact_info_block>span{
  margin-left: 50px;
  display: block;
  font-family: "adineue Light";
  font-size: 20px;
  color: #3b3b3b;
}
#contact_social_media_container{
  display: flex;
  justify-content: space-around;
  width: 180px;
  position: absolute;
  bottom: 50px;
  right: 50px;

}
#contact_social_media_container>a>img{
  height: 40px;
}
#contact_info, #map{
  height: 440px;
  width: 500px;
  border: solid 1px #535353;
}
#contact_second_screen{
  box-sizing: border-box;
  padding: 50px 0;
}
#contact_form_block{
  border: solid 1px #535353;
  height: 550px;
  width: 1100px;
  box-sizing: border-box;
  padding: 60px;
}
#contact_form_block>span{
  font-size: 16px;
  font-family: "adineue Light";
  color: #3b3b3b;
}
.contact_form_container{
  position: relative;
  display: flex;
  justify-content: center;
}
.contact_form_container>div>input, .contact_form_container>textarea{
  border-radius: 28px;
  font-family: "adineue Light";
  font-size: 16px;
  width: 330px;
  color: #3b3b3b;
  padding: 20px;
  border: solid 1px #3b3b3b;
  transition: border 0.2s;
}
.contact_form_container>div>input:focus, .contact_form_container>textarea:focus{
  border: solid 1px green;
}
#contactform_lines>input{
  margin: 15px;
}
#contactform_lines{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
textarea{
  resize: none;
  margin: 15px;
}
form>button{
  position: absolute;
  bottom: -60px;
  left: 117px;
  width: 160px;
  height: 44px;
  border: none;
  border-radius: 22px;
  color: white;
  font-family: "adineue Light";
  font-size: 16px;
  background-color: #3b3b3b;
  transition: all 0.2s;
}
form>button:hover{
  background-color: #f3f3f3;
  border: solid 1px #3b3b3b;
  color: #3b3b3b;
}
