@font-face {font-family: "adineue Light";
    src: url("PRO_light.ttf");
}
@font-face {font-family: "adineue Black";
    src: url("PRO_Black.otf");
}
mark{
  background: none;
  font-family: "adineue Black";
}
p{
  font-family: "adineue Light";
  font-size: 18px;
}
*{
  margin: 0;
  outline: none;
}
.middle{
  width: 1100px;
  margin: 0 auto;
}
a{
  text-decoration: none;
}
body{
  min-width: 1100px;
}
h3{
  font-family: "adineue Black";
  font-size: 30px;
  color: #3b3b3b;
  text-align: center;

}
h3::before, h3::after{
  content:"";
  display: block;
  position: relative;
  margin: 0 auto;
  background-color: #3b3b3b;
  width: 300px;
  height: 2px;
}
h3::before{
  top:18px;
  right: 400px;
}
h3::after{
  bottom:20px;
  left: 400px;
}
/*HEADER*/
header{
  min-width: 1100px;
  height: 65px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  font-family: "adineue Light";
  font-size: 15px;
  text-transform: uppercase;
}
header>.middle>ul{
  height: 65px;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header>.middle>ul>li>a{
  color: white;
}
#logo{
  width: 200px;
}
/*FIRST SCREEN*/
#first_screen{
  background-image: url(../img/bg/firstscreen_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
  position: relative;
  top: 300px;
  text-align: center;
  text-transform: uppercase;
  font-size: 100px;
  font-family: "adineue Black";
  color: white;
}
#first_screen>button{
  position: relative;
  top: 320px;
  width: 200px;
  height: 50px;
  border-radius: 14px;
  border-color: #d9d9d9;
  font-family: "adineue Light";
  font-size: 18px;
  color: #d9d9d9;
  background-color: rgba(0, 0, 0, 0.2);
}
/*SECOND SCREEN*/
#secont_screen{
  box-sizing: border-box;
  padding: 50px 0;
  height: 370px;
  background-color: #dfdfdf;
}
#secont_screen_container{
  margin: 30px auto 0;
  width: 1100px;
  display: flex;
  justify-content: space-around;
}
.second_screen_item{
  width: 260px;
  height: 160px;
  border: solid 15px #f3f3f3;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.second_screen_item>span{
  text-transform: uppercase;
  font-family: "adineue Black";
  font-size: 30px;
  color: #f3f3f3;
}
#second_screen_first_item{
  background-image: url("../img/block_img/second_block1.jpg");
}
#second_screen_second_item{
  background-image: url("../img/block_img/second_block2.jpg");
}
#second_screen_third_item{
  background-image: url("../img/block_img/second_block3.jpg");
}
/*THIRD SCREEN*/
#third_screen{
  box-sizing: border-box;
  padding: 50px 0;
  background-color: #f3f3f3;
}

/*FOURTH SCREEN*/
#fourth_screen{
  box-sizing: border-box;
  padding: 50px 0;
  background-color: #dfdfdf;
}
.fourth_screen_container{
  display: flex;
  width: 1100px;
  margin: 60px auto;
}
#fourth_screen_first_container{
  justify-content:flex-start;
  text-align: left;
}
#fourth_screen_second_container{
  justify-content:flex-end;
  text-align: right;
}
.fourth_screen_container>img{
  margin: 0 50px;
}
.fourth_screen_text_container{
  width: 370px;
}
