body{
  margin: 0;
}
.middle{
  width: 1100px;
  margin: 0 auto;
}

/*HEADER*/
header{
  height: 60px;
  background-color: rgba(0, 0, 0, 0.5);
}
header>.middle>ul{
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
a{
  text-decoration: none;
}
#logo{
  width: 200px;
}
